.submit {
  display: block;
  margin-top: 1rem;
  width: 6rem;
  color: white;
  background-color: #014C85;
}
#create-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
select{
    border: 2px solid #106fb7;
    background-color: #fff;
    width: 20rem;
    height: 1.5rem;
    border-radius: .5rem;
    margin: .5rem;
    text-align: center;
}
label,
fieldset,
legend{
    color: #014C85;
    font-weight: bold;
    display: block;
    margin-top: .5rem ;
    border-color:#106FB7;
    border-radius: .5rem;
}
select{
    height: 1.8rem;
}
